{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
  <div class="section">
    <h2>Introduction</h2>
    <p>In today’s technology-driven society, automation has become a vital element across numerous industries. One significant area where automation is making a notable impact is in vehicle identification through Automatic License Plate Detection (ALPD) systems. These systems are now crucial tools for enhancing traffic regulation, improving law enforcement operations, streamlining toll collection, and increasing overall vehicular security.</p>
  </div>
  <div class="section">
    <h2>Project Summary</h2>
    <p>The ALPD project represents a significant stride toward the automation of traffic regulation and vehicle monitoring systems. A system is designed to accurately detect vehicle license plates from captured images or video feeds, addressing the growing demand for efficient and reliable vehicular identification methods. It combines image pre-processing, deep learning detection, and OCR recognition to output plate information in real-time.</p>
  </div>
{% endblock %}